* {
    box-sizing: border-box;
}

:root {
    --whiteGreen: #F6FFDE;
    --grad: linear-gradient(to bottom right, #F97B22, #9E6F21, #FEE8B0, #9CA777, #9CA777, #0A4D68);
    --text: #9E6F21;
    --footer: #83764F;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #fdfff7;
    font-family: 'Kanit', sans-serif;

}

.navbar-brand {
    color: var(--text);
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    display: block;
}

.profile-image-container {
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30%;
}

.profile-image {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    border-radius: 30%;
}

.details-form {
    min-width: 200px;
    width: 40%;
    height: 40%;
    /* position: absolute; */
    margin: 0 auto;
    margin-top: 10%;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid var(--text);
    padding: 20px;
    box-shadow: 2px 2px 2px black;
}

.pic-container {
    display: flex;
    align-items: baseline;
    gap: 0;
    justify-content: center;
    justify-content: center;
}

label {
    display: block;
}

input {
    padding: 5px;
}

.submit-button {
    display: block;
    margin: 0 auto
}